/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dotnet
/.gnupg
/.local
/.mozilla
/.pam_environment
/.pki
/.profile
/.sudo_as_admin_successful
/.vscode
/.vscode-server
/.wget-hsts
/.xsession
/1.cpp
/code
/snap
/test
/test.cpp
/下载
/公共的
/图片
/文档
/桌面
/模板
/视频
/音乐